<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ec864157-e0a5-4c8a-9be5-8549a75b99a8/resourcegroups/Server20210110010525ResourceGroup/providers/Microsoft.Web/sites/Server20210110175952</ResourceId>
    <ResourceGroup>Server20210110010525ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/ec864157-e0a5-4c8a-9be5-8549a75b99a8/resourceGroups/Server20210110010525ResourceGroup/providers/Microsoft.ApiManagement/service/Serverapi/apis/Server</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://server20210110175952.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>bd6a5bcc-22f0-4996-9018-b009d7a4c8fe</ProjectGuid>
    <MSDeployServiceURL>server20210110175952.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Server20210110175952</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Server20210110175952</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>