@model Client.Models.Player

@{
    ViewData["Title"] = "Novo Player";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Novo Jogador</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div class="row">
                <div class="col-md-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label">Nome</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nick Name</label>
                        <input asp-for="Nickname" class="form-control" />
                        <span asp-validation-for="Nickname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Idade</label>
                        <input asp-for="Age" class="form-control" />
                        <span asp-validation-for="Age" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nacionalidade</label>
                        <input asp-for="Nationality" class="form-control" />
                        <span asp-validation-for="Nationality" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <h3>Redes Sociais</h3>
                    <div class="form-group">
                        <label class="control-label">Facebook</label>
                        <input asp-for="Facebook" class="form-control" />
                        <span asp-validation-for="Facebook" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Twitter</label>
                        <input asp-for="Twitter" class="form-control" />
                        <span asp-validation-for="Twitter" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Instagram</label>
                        <input asp-for="Instagram" class="form-control" />
                        <span asp-validation-for="Instagram" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar novo jogador" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-danger">Descartar Dados</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
