@model Client.Models.Event
@{
    ViewData["Title"] = "Detalhes da Competição";
}

<h1>Detalhes da Competição</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nome da Competição
        </dt>
        <dd class = "col-sm-10">
            @Model.EventName
        </dd>
        <dt class = "col-sm-2">
            Data de Inicio
        </dt>
        <dd class = "col-sm-10">
            @Model.DateOfStart
        </dd>
        <dt class = "col-sm-2">
            Data de Fim
        </dt>
        <dd class = "col-sm-10">
            @Model.DateOfEnd
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EventId" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-info">Voltar para a listagem</a>
</div>
