<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CS : GO</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" asp-action="Index" asp-controller="Events"><img src="~/img/logo.jpg" width="250vh" style="color:white" /></a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Events">Competições</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Teams">Equipas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Players">Jogadores</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Parametrização
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" asp-controller="Events" asp-action="Index">Competições</a>
                <a class="dropdown-item" asp-controller="Maps" asp-action="Index">Mapas</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" asp-controller="Teams" asp-action="Index">Equipas</a>
                <a class="dropdown-item" asp-controller="Players" asp-action="Index">Jogadores</a>

                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
<div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-controller="Users" asp-action="Index">Utilizadores</a>}
            </div>
        </li>
}
                </ul>
                @if (!User.Identity.IsAuthenticated)
                {
    <a class="btn btn-primary my-2 my-sm-0" type="button" asp-controller="Home" asp-action="Login">Iniciar Sessão</a> }
else
{
<a class="btn btn-danger my-2 my-sm-0" type="button" asp-controller="Login" asp-action="Logout">Logout</a>}
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                Trabalho realizado por: Nº 12314 -> Sérgio Filipe Ribeiro Santos
            </div>
            <div class="row">
                Cadeira : ISI - Integração de Sistemas de Informação
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
