@model Error
@{ ViewData["Title"] = "Erro"; }

<h1>Ocorreu um erro</h1>
<p>
    <h1><strong>Ac&ccedil;&atilde;o:</strong> <code>@Model.Title</code></h1>
    <h3><strong>Descri&ccedil;&atilde;o:</strong> <code>@Model.Message</code></h3>
</p>